

header {
    margin-top: 30px;
    border-bottom: 0px; 
}

img.banner_image {
    display: block;
    margin: auto;
}

.blink {
  animation: blink-animation 1s steps(2, start) infinite;
  -webkit-animation: blink-animation 1s steps(2, start) infinite;
}
@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

.hanging_indent {
    padding-left: 4em;
    text-indent: -2em;
}
