body {
	background-image: url("../images/background.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
	background-size:contain;
}

img.banner_image {
    display: block;
    margin: auto;
}
